<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="popin" translate="label" sortOrder="400">
            <label>Popin</label>
        </tab>
        <section id="popin_widget" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Video Call Widget</label>
            <tab>popin</tab>
            <resource>PopIn_Widget::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Popin Widget</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Popin video call widget on your storefront.</comment>
                </field>
                <field id="token" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popin Token</label>
                    <comment>Enter the token provided by Popin (found in your Popin dashboard).</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="mode" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widget Mode</label>
                    <source_model>PopIn\Widget\Model\Config\Source\Mode</source_model>
                    <comment>Hidden mode requires a button to trigger the widget. Visible mode shows the widget launcher automatically.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
